@charset "utf-8";
/* CSS Document */

body {
	background-image: url(z.png);
	background-repeat: repeat;
	padding-top: 5%;
	padding-bottom: 10%;
	font-family: Helvetica, sans-serif;
	margin-left: 20%;
	margin-right: 20%;
}
p {
	margin-left:5%;
	margin-right:5%;
}